<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" href="https://js.arcgis.com/4.0/esri/css/main.css">
		<style type="text/css">
			@page{
				width: 21cm;
  				height: 27cm;
  				margin: 25mm;
  				margin-right: 45mm;
  				background: white;
  				overflow: hidden;			
			}
			html{
				font-family: 'proxima-nova', 'Source Sans Pro', Arial, sans-serif;
				width: 21cm;
  				height: 27cm; 
  				margin-top: 0;
  				margin: auto;
  				padding: 0;
			}
			body{
				background: white;
				padding: 32px;
				border-color: #aaa;
			}
			/*Layout for the title block*/
			header{
				margin-top: 0;
			}

			h1{
				margin-top: 0;
				margin-bottom: 20px;
			}

			h2{
				margin-top: 0;
				margin-bottom: 20px;
			}

			.esri-ui-top-left {
				display: none;
			}

			/*Layout for the map area*/
			#print-map-container {
				width: 700px;
				height: 700px;
				display: table-cell;
				text-align: center;
				vertical-align: middle;
				background: #282b32;
				pointer-events: none;
			}

			.esri-attribution {
				display: none;
			}

			.image-spin {
				width: 100px;
				height: 100px;
				background: url(/Images/print-spinner.gif) no-repeat center center;
				margin-left: auto;
				margin-right: auto; 
			}

			.print-footer {
				display: flex;
				width: 100%;
			}

			.print-scale-orientation {
				margin: 20px;
				width: 150px;
			}

			.print-scale-orientation p {
				margin: 2px 0 2px 0;
				text-align: center;
				font-size: x-small;
				width: 100%;
			}

			.print-north-arrow {
				position: relative;
				height: 80px;
				width: 100%;
			}

			.print-north-stack {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 80px;
				/*background: url(north-qld-70x70.png) no-repeat center center;*/
			}

			.print-north-stack img {
				display: block;
    			margin: 0 auto;
			}

			.print-north-text {
				position: absolute;
				top: 32px;
				font-weight: bold;
				color: #5D5D5D;
				left: 0;
				width: 100%;
				text-align: center;
			}

			.print-scalebar {
				position: relative;
				height: 30px;
				width: 100%;
			}

			.print-scalebar-text {
				width: 100%;
				text-align: center;
				color: #5D5D5D;
				font-size: small;
			}

			.print-scalebar-bar {
				width: 100px;
				height: 3px;
				border: solid;
				border-color: #5D5D5D;
				border-width: 0 1px 2px 1px; 
				margin: 0 auto 10px auto;
			}

			.print-copyright {
				margin-top: 20px;
				font-size: x-small;
				text-align: center;
				width: 200px;
			}

			.print-copyright img{
				width: 56px;
				height: 70px;
				margin: 0 auto 0 auto;
			}

			.print-flex-fill {
				width: 300px;
				position: relative;
			}

			.print-attribution {
				font-size: 10px;
				text-align: center;
				bottom: 25px;
				display: block;
				position: absolute;
				width: 100%;
			}

			/*Layout for the footer*/
			footer {
				margin-top: 20px; 
				min-height: 50px;
				font-size: 10px;
			}

			/*Legend*/

			@media print {
				.legend-page{
					page-break-before: always;
				}
			}

			.legend-page{
				margin-top: 40px; 
			}

			.legend-layers {
				margin: 0;
				margin-left: 20px;
				padding: 0;
				list-style: none;
				columns: 2;
			}

			.legend-layers li {
				position: relative;
				padding: 12px 12px 12px 0;
			}

			.legend-layers h3 {
				font-size: 14px;
				margin-bottom: 4px;
			}

			.floating-block {
				display: block;
				-moz-column-break-inside:avoid;
				page-break-inside: avoid;
			}

			.legend-layer-items {
				margin: 0;
				padding: 0;
				list-style: none;
			}

			.legend-layer-items li {
				position: relative;
				margin: 0;
				padding: 0;
				list-style: none;
			}
						
			.swatch {
				position: absolute;
				left: 0;
				/*text-align: center;*/
				transition: left 0.3s;
			}
							
			.swatch-block {
				display: inline-block;
				width: 20px;
				height: 20px;
				background-repeat: no-repeat;
				background-position: center center;
			}

			.name {
				margin: 4px;
				margin-left: 50px;
				font-size: 12px;
			}
		</style>
		<script id="legend-template" type="text/x-handlebars-template">
			<div class="legend-page">
				<h2>Legend</h2>
					<ul class="legend-layers">
					{{#each this}}
						<div class="floating-block">
						<li class="legend-layer" data-id="{{layerId}}">
							<h3>{{layerName}}</h3>
							<ul class="legend-layer-items">
							{{#each legend}}
								<li>
									<div class="swatch"><img class="swatch-block" src="data:{{contentType}};base64,{{imageData}}"></div>
									<h4 class="name">{{label}}</h4>
								</li>				
							{{/each}}
							</ul>
						</li>
						</div>	
					{{/each}}
				</ul>
			</div>
		</script>
	</head>
<body>
	<header>
		<h1 id="print-heading">Print</h1>
		<h2 id="print-subheading">Queensland Globe</h2>
	</header>
	<div id="print-map-container" width="700" height="700">
		<div class="image-spin"></div>
	</div>
	<div class="print-footer">
		<div id="print-scale-orientation" class="print-scale-orientation" >
			<p>
				A product of
			</p>
			<p>
				Queensland Globe
			</p>
			<div id="print-north-arrow" class="print-north-arrow">
				<div class="print-north-stack">
					<img src="north-qld-70x70.png"/>
				</div>
				<div class="print-north-stack">
					<img id="print-north-background" src="north-arrow-70x70.png"></img>
				</div>
			</div>
			<div id="print-scalebar" class="print-scalebar">
				<div id="print-scalebar-text" class="print-scalebar-text">1 km</div>
				<div id="print-scalebar-bar"  class="print-scalebar-bar"></div>
			</div>
			<p>
				Paper Size: A4
			</p>
			<p>
				Print Date: <span id="print-date">22/09/2016</span>
			</p>
		</div>
		<div class="print-flex-fill">
			<div class="print-attribution" id="print-attribution-other"></div>
		</div>
		<div class="print-copyright">
			<img src="Qld-CoA-Stylised-2LS-mono.png">
			<p>© State of Queensland <span id="copyright-year">2016</span></p>
			<p>
				You are responsible for ensuring that the map is suitable for your purposes.
			<br>
				The State of Queensland makes no representation or warranties in relation to the map contents and disclaims all liability.
			</p>
		</div>
	</div>
	<div id="print-legend-container">
	</div>
</body>
</html> 
