<div class="legend-page">
    <h2>Legend</h2>
        <ul class="legend-layers">
        {{#each this}}
            <li class="legend-layer" data-id="{{layerId}}">
                <h2>{{layerName}}</div>
                <ul class="legend-layer-items">
                {{#each legend}}
                    <li>
                        <div class="swatch"><img class="swatch-block" src="data:{{contentType}};base64,{{imageData}}"></div>
                        <div class="name">{{label}}	</div>
                    </li>				
                {{/each}}
                </ul>
            </li>	
        {{/each}}
    </ul>
</div>